<div class="Form-elementGroup">
  <div class="Input Input--select">
    <%= f.label :product, class: "Input-label Input-label--required" %>
    <%= f.select :product_id,
                 options_from_collection_for_select(Product.all, :id, :name, f.object.product_id),
                 { include_blank: true },
                 { class: "Input-element" } %>
  </div>
</div>

<div class="Form-elementGroup">
  <div class="Input Input--doubleWidth">
    <%= f.label :offer_template, class: "Input-label" %>
    <%= f.text_area :offer_template, class: "Input-element" %>
  </div>
</div>


<div class="Form-elementGroup">
  <div class="Input Input--doubleWidth">
    <%= f.label :invoice_template, class: "Input-label" %>
    <%= f.text_area :invoice_template, class: "Input-element" %>
  </div>
</div>