<% breadcrumb :frontoffice_settings_edit, @frontoffice_setting %>

<div class="Content">
  <%= render 'partials/content_heading', title: "#{t("settings.frontoffice_settings.title")} #{FrontofficeSetting.company_name}" %>

  <div class="Content-main">
    <%= form_for [:settings, @frontoffice_setting], method: "PUT", html: { class: "Form", autocomplete: :off } do |f| %>

      <%= render partial: 'form', locals: { f: f } %>

      <div class="Form-buttons">
        <div class="Form-button">
          <a class="Button Button--secondary" href="<%= settings_path %>"><%= t('abort') %></a>
        </div>
        <div class="Form-button">
          <button type="submit" class="Button"><%= t("save") %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
