<div class="Section">
  <div class="Form-elementGroup">
    <div class="Input">
      <%= f.label :name, class: "Input-label Input-label--required" %>
      <%= f.text_field :name, required: true, class: "Input-element", placeholder: true %>
    </div>
  </div>

  <div class="Form-element">
    <div class="Input Input--select">
      <%= f.label :field_type, class: "Input-label Input-label--required" %>

      <% field_types = CustomAttribute.field_types.map { |key, _| [CustomAttribute.human_enum_name(:field_types, key), key] } %>
      <%= f.select :field_type, options_for_select(field_types, f.object.field_type), {}, { required: true, class: "Input-element" } %>
    </div>
  </div>
</div>

<div class="Form-buttons">
  <div class="Form-button">
    <%= link_to t("abort"), settings_custom_attributes_path, class: "Button Button--secondary" %>
  </div>

  <div class="Form-button">
    <%= f.submit t("save"), class: "Button" %>
  </div>
</div>
