<div class="ListItem BookingPreview">
  <div class="BookingPreview-item BookingPreview-item--date">
    <span class="u-hiddenVisually">
      <%= Booking.human_attribute_name(:created_at) %>:
    </span>
    <time class="Attr" datetime="<%= item.created_at.strftime("%Y-%m-%d %H:%M") %>">
      <span class="Attr-main"><%= l(item.created_at.to_date, format: :default) %></span>
      <span class="Attr-sub"><%= l(item.created_at.to_time, format: :time_only) %></span>
    </time>
  </div>
  <div class="BookingPreview-item BookingPreview-item--name">
    <% unless locals[:hide_customer] %>
      <div class="BookingPreview-name">
        <span class="u-hiddenVisually">
          <%= Booking.human_attribute_name(:customer) %>:
        </span> <%= item.customer.name %>
      </div>
    <% end %>
    <div class="BookingPreview-product Attr">
      <span class="u-hiddenVisually">
        <%= Booking.human_attribute_name(:product) %>:
      </span> <%= item.product.name %>
    </div>
  </div>
  <div class="BookingPreview-item BookingPreview-item--status">
    <div class="BookingPreview-status">
      <span class="u-hiddenVisually">
        <%= Booking.human_attribute_name(:aasm_state) %>:
      </span>
      <%= t("bookings.states.#{item.aasm_state}") %>
      <% if item.assignee %>
        <br/>
        (<%= item.assignee %>)
      <% end %>
    </div>
    <ul class="BookingPreview-buttons">
      <li class="BookingPreview-button">
        <%= link_to booking_path(id: item.id) do %>
          <%= t("bookings.index.link_to_booking") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
