<div class="Table-wrapper">
  <table class="Table">
    <thead>
    <tr>
      <th> </th>
      <th>
        <%= BookingDocument.human_attribute_name(:number) %>
      </th>
      <th>
        <%= BookingDocument.human_attribute_name(:type) %>
      </th>
      <th>
        <%= BookingDocument.human_attribute_name(:created_at) %>
      </th>
      <th>
        <%= BookingDocument.human_attribute_name(:total_price) %>
      </th>
    </tr>
    </thead>
    <tbody>
      <%= render partial: "bookings/show/document", collection: documents, as: :document %>
    </tbody>
  </table>
</div>