<tr>
  <td>
    <span class="Attr">
      <%= item.item_name %>
    </span>
  </td>
  <td>
    <span class="Attr">
      <%= item.item_id %>
    </span>
  </td>
  <td>
    <span class="Attr">
      <%= item.event_type %>
    </span>
  </td>
  <td>
    <span class="Attr">
      <%= item.description %>
    </span>
  </td>
  <td>
    <%= item.whodunnit %>
  </td>
  <td>
    <span class="Attr">
      <%= item.event_date %>
    </span>
  </td>
</tr>
