<main>
  <%= render "layouts/message" %>

  <h1>
    <%= booking_form.product_sku_name %>
  </h1>

  <%= simple_format t(".description") %>

  <%= form_with(
    model: @booking_form,
    scope: :booking,
    url: frontoffice_product_inquiries_path(params[:product_sku_handle]),
    builder: WaveFormBuilder
  ) do |f| %>
    <%= render(FieldGroup.new) do %>
      <%= render "components/field/date",
        attribute: :starts_on,
        min: Date.tomorrow,
        f: f,
        required: true,
        value: booking_form.starts_on
      %>

      <%= render "components/field/date",
        attribute: :ends_on,
        min: Date.tomorrow + 1.day,
        f: f,
        required: true,
        value: booking_form.ends_on
      %>
    <% end %>

    <%= render(FieldGroup.new) do %>
      <%= render "components/field/number",
        attribute: :adults,
        min: 1,
        f: f,
        required: true,
        value: booking_form.adults || 1
      %>

      <%= render "components/field/number",
        attribute: :kids,
        min: 0,
        f: f,
        required: true,
        value: booking_form.kids || 0
      %>

      <%= render "components/field/number",
        attribute: :babies,
        min: 0,
        f: f,
        required: true,
        value: booking_form.babies || 0
      %>
    <% end %>

    <%= render(FieldGroup.new) do %>
      <%= render "components/field/text", attribute: :first_name, f: f, required: true %>
      <%= render "components/field/text", attribute: :last_name, f: f, required: true %>
      <%= render "components/field/email", attribute: :email, f: f, required: true %>
    <% end %>

    <%= render(FieldGroup.new) do %>
      <%= render "components/field/textarea", attribute: :wishyouwhat, f: f, rows: 4 %>
    <% end %>

    <%= f.submit t(".submit"), class: "Button Button--primary" %>
  <% end %>
</main>
