<div class="Section">
  <div class="Form-elementGroup">
    <div class="Input">
      <%= f.label :price, class: "Input-label" %>
      <%= f.text_field :price, class: "Input-element" %>
    </div>
    <div class="Input Input--select">
      <%= f.label :participant_type, class: "Input-label Input-label--required" %>
      <%= f.select :participant_type,
        options_for_select(f.object.available_participant_types, f.object.participant_type),
        { include_blank: false },
        class: "Input-element" %>
    </div>
    <div class="Input Input--select">
      <%= f.label :calculation_type, class: "Input-label Input-label--required" %>
      <%= f.select :calculation_type,
        options_for_select(f.object.available_calculation_types, f.object.calculation_type || :fixed),
        {},
        class: "Input-element" %>
    </div>
  </div>

  <div class="Form-elementGroup">
    <div class="Input">
      <%= f.label :starts_on, class: "Input-label" %>
      <%= f.date_field :starts_on, class: "Input-element" %>
    </div>
    <div class="Input">
      <%= f.label :ends_on, class: "Input-label" %>
      <%= f.date_field :ends_on, class: "Input-element" %>
    </div>
  </div>

  <div class="u-mt-3">
    <%= render template: 'consecutive_days_ranges/new', locals: { f: f } %>
  </div>

  <br>
  <div class="Form-element">
    <%= link_to t('abort'), bulk_edit_resource_sku_resource_sku_pricings_path(f.object.resource_sku_id), class: "Button" %>
    <%= f.submit nil, class: "Button Button--positive" %>
  </div>
</div>

