<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Backoffice" name="application-name">
    <meta content="Backoffice, mail@patrick-schnetger.de" name="author">
    <meta content="index, follow" name="robots">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= render "layouts/gtm" %>

    <%= javascript_pack_tag "frontoffice", defer: true %>
    <%= stylesheet_link_tag "v2/frontoffice", "data-turbo-track": "reload" %>

    <%= render "layouts/fallbacks/ie_11" %>

    <title><%= GlobalConfiguration.company_name %></title>

    <%= csrf_meta_tags %>
  </head>

  <body class="Page">
    <% if ENV['GTM_CONTAINER_ID'] %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV['GTM_CONTAINER_ID'] %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= render "layouts/message" %>
    <%= yield %>
  </body>
</html>
